# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
**/build/
!gradle-wrapper.jar

# Android Studio
*.iml
.idea/
local.properties

# Build results
*.apk
*.aab
*.ap_
*.dex

# Keystore
*.jks
*.keystore

# Misc
.DS_Store
